.faq {
    background-color: #fff;
    max-width: 800px;
    width: 100%;
    border-radius: 15px;
    padding: 10px;
    text-align: start;
    float: left;
}

.faqquestion {
    background-color: #4084dd;
    border-radius: 10px 10px 0 0;
    margin-top: 20px;
    padding: 10px;
    color: #fff;
    font-weight: bold;
}

.faqanswer {
    background-color: #fff;
    border-radius: 0 0 10px 10px;
    padding: 10px;
    border: 1px solid #ccc;
}

.right {
    width: 300px;
    margin: 25px;
    float: right;
}