.noticeDetailContainer {
    text-align: start;
    background-color: var(--white-color);
}

.noticeDetailTitle {
    width: 800px;
}

.noticeDetailCode {
    width: 150px;
}

.noticeDetailWriter, .noticeDetailView, .noticeDetailReg, .noticeDetailLast {
    width: 475px;
}

.noticeDetailContent {
    border-top: solid 1px var(--light-gray-color);
}

.noticeDeleteButton {
    background-color: var(--red-color);
    color: var(--white-color);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 20px;
}