.noticeDetailTitle {
    background-color: var(--white-color);
}

.noticeDetailCode {
    background-color: var(--white-color);
}

.noticeDetailWriter {
    background-color: var(--white-color);
}

.noticeDetailContent {
    background-color: var(--white-color);
}