/* 공통적으로 div 안 span들을 가로 정렬 */
.lecSerialTit,
.lecManyPointTimeProfMcode,
.lecYearSemesterMajorMustMinOpen {
    display: flex;
    gap: 20px; /* 요소 사이 간격 */
    margin: 0;
}

/* 각 항목(span)의 공통 스타일 */
.lecSerialTit span,
.lecManyPointTimeProfMcode span,
.lecYearSemesterMajorMustMinOpen span {
    flex: 1; /* 모든 항목을 같은 너비로 */
    display: flex;
    flex-direction: column; /* 라벨 위, input 아래로 */
    margin: 0;
}

/* 강의 등록 버튼 스타일 */
.courseRegisterBtn {
    margin-top: 30px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: var(--font-mid)
}