.lecSerialTit, .lecManyPointTime, .lecProfMcodeDep, .lecYearSemesterMajorMust, .lecMinOpen {
    display: inline-block;
}

.lecSerialTit span,
.lecManyPointTime span,
.lecProfMcodeDep span,
.lecYearSemesterMajorMust span,
.lecMinOpen span {
    flex: 1;
}

input, select {
    margin-bottom: 10px;
}

.courseRegisterBtn {
    font-size: var(--font-mid);
}