.lectureNameCode,
.maxStudentsCredit,
.lectureYearSemester,
.majorRequiredType {
    display: flex;
    justify-content: space-between;
    gap: 16px;
}
.lectureNameCode span,
.maxStudentsCredit span,
.lectureYearSemester span,
.majorRequiredType span {
    flex: 1;
}

.courseRegisterBtn {
    font-size: var(--font-mid);
}