.classAttending_list_container {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.classAttending_text {
    background-color: antiquewhite;
    margin-top: 50px;
}

.classAttending_list_header {
    width: 1000px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    background-color: aqua;
    border-collapse: collapse;
}

.classAttending_list_body {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--white-color);
    border-collapse: collapse;
}

.class_details_row {
    background-color: azure;
}

.totalpoints {
    float: right;
    width: 125px;
    padding-right: 25px;
    background-color: antiquewhite;
    font-weight: bold;
}