.courseEditButton {
    font-size: var(--font-mid);
}

.courseDetailTitleCode,
.courseDetailProfMax,
.coursePointTimeMcodeDep,
.courseTearSemesterMinOpen {
    display: flex;
    gap: 20px;
    margin: 40px 0;
}

.courseDetailTitleCode span,
.courseDetailProfMax span,
.courseTearSemesterMinOpen span {
    flex: 1;
}


.coursePointTimeMcodeDep span {
    flex : 4 5 4 4;
}