.mypagetitle {
    border-radius: 15px;
    padding: 30px;
    background-color: var(--white-color);
    text-align: center;
    justify-content: space-between;
}

#schoolMyPageText {
    font-size: var(--font-large);
}

.mypagetitle span {
    border: solid;
    border-radius: 5px;
    padding: 5px;
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
}