@charset "utf-8";

.sendBtn{
    cursor: pointer;
    padding: 2.5px;
    border-radius: 5px;
    background: #4084DD;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    position: relative;
    width: 65px;
    line-height: normal;
}

.sendBtn:disabled{
    background: #999;
    cursor: default;
}

.sendBtn > svg{
    transform: rotate(0deg);
    animation: spin 1s linear infinite;
}


.authTimer{
    font-size: 15px;
    font-weight: bold;
}

.submit{
    cursor: pointer;
    padding: 2.5px;
    border-radius: 5px;
    background: #4084DD;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    width: 100%;
}

.submit:disabled{
    background: #999;
    cursor: default;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}