@charset "utf-8";

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    background-color: rgba(255, 255, 255, 0.9);
    color: white;
}

.h1{
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    margin: 0;
    color: #387BB1;
    font-weight: bold;
}

.h1 > span{
    font-weight: bold;
    cursor: pointer;
    display: inline;
}

.logoImg{
    display: block;
    width: 50px;
    height: 50px;
    margin-right: 10px;
    cursor: pointer;
}

.logoImg > img{
    width: 100%;
    height: auto;
}

.userInfo > p{
    color: #333;
    font-size: 13px;
}

.userName{
    font-weight: bold;
    color: #3c56d5;
    font-size: 13px;
}

.logoutBtn{
    background: #4F8FC4;
    color: white;
    border-radius: 10px;
    padding: 4px 7.5px;
    font-weight: bold;
    cursor: pointer;
}

.userInfoBtn{
    background: #058fff;
    color: white;
    border-radius: 10px;
    padding: 4px 7.5px;
    font-weight: bold;
    cursor: pointer;    
    margin-right: 5px;
}

.navMenu{
    margin-left: 10px;
    padding-left: 10px;
    border-left: 1px solid #999;
    position: relative;
}

.navMenu > ul{
    list-style: none;
    text-decoration: none;
    display: flex;
    gap: 15px;
}

.navMenu > ul > li{
    width: 100px;
    list-style: none;
    text-decoration: none;
    color: #333;
    font-weight: bold;
    cursor: pointer;
}

.navMenu1 .navMenu2 .navMenu3 {
    position: relative;
}

.navSubMenu1 .navSubMenu2 .navSubMenu3 {
    position: absolute;
    top: 45px;
}

.navSubMenu1 td {
    background-color: var(--white-color);
    border-radius: 5px;
    padding: 5px;
}

.navSubMenu1 td:hover {
    filter: invert(100%);
    cursor: pointer;
}

.navSubMenu2 td {
    background-color: var(--white-color);
    border-radius: 5px;
    padding: 5px;
}

.navSubMenu2 td:hover {
    filter: invert(100%);
    cursor: pointer;
}

.navSubMenu3 td {
    background-color: var(--white-color);
    border-radius: 5px;
    padding: 5px;
}

.navSubMenu3 td:hover {
    filter: invert(100%);
    cursor: pointer;
}

.sessionTimer {
    color: var(--black-color);
    font-size: var(--font-small);
}

.sessionTimer button {
    border: solid;
    border-radius: 5px;
    padding: 0 5px;
}

.mobNavBtn{
    display: none;
    flex-direction: column;
    width: 35px;
    height: 35px;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    position: relative;
    z-index: 1;
}

header > div > span{
    display: inline-block;
    width: 100%;
    height: 5px;
    border-radius: 2.5px;
    background: #333;
    position: absolute;
    left: 0;
    z-index: -1;
    transition: all .3s;
    transform: rotate(0deg);
}
header > div > span:nth-child(1){
    top: 0;
}
header > div > span:nth-child(2){
    top: calc(50% - 5px);
}
header > div > span:nth-child(3){
    top: calc(100% - 10px);
}

.mobMenu{
    color: #333;
    display: flex;
    background: rgba(255, 255, 255, 0.9);
    border-top: 1px solid #777;
    overflow: hidden;
    transition: all .3s;
    height: 0px;
}

.mobMenu > ul{
    width: 100%;
    padding: 2.5px 0;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}

.mobMenu > ul > li{
    width: 33%;
    cursor: pointer;
    display: inline-block;
    width: 100%;
    height: 100%;
    text-align: center;
    font-weight: bold;
    transition: all .3s;
}

.mobMenu > ul > li:not(:last-child){
    border-right: 1px solid #777;
}


/* media */
@media (max-width:834px){
    .mobNavBtn{
        display: flex;
    }
    .navMenu{
        display: none;
    }
}
@media (max-width:768px){
    
}
@media (max-width:600px){
    
}
@media (max-width:425px){
    .logoImg{
        margin: 0;
    }
}
@media (max-width:375px){
    
}
@media (max-width:350px){
    
}
@media (max-width:320px){
    
}