@charset "utf-8";

.wrap{
    flex-direction: row !important;
    align-items: center !important;
}

.content{
    flex-direction: column !important;
    background: rgba(250,250,250, .5);
    align-items: center !important;
}