.introductiontitle {
    border-radius: 15px;
    padding: 30px;
    background-color: var(--white-color);
    text-align: center;
    justify-content: space-between;
    box-sizing: border-box;
    margin-bottom: 15px;
}
.introductiontitle > div{
    box-sizing: border-box;
}

#schoolIntroductionText {
    font-size: var(--font-large);
    font-weight: bold;
    margin-bottom: 15px;
}

.introductiontitle > .menuListTap{
    display: flex;
    justify-content: space-around;
}

.introductiontitle > .menuListTap > span {
    border: solid;
    border-radius: 5px;
    padding: 5px;
    position: relative;
}

@media (max-width: 1024px) {
    .introductiontitle > .menuListTap > span {font-size: var(--font-small); padding: 2px}
}