.blueCrabOrganization {
    width: 600px;
}

.blueCrabOrganization > img{
    padding: 15px;
    box-sizing: border-box;
    background: #fff;
    border-radius: 10px;
}

@media (max-width: 600px) {
    .blueCrabOrganization {width: 100%;}
}