#presidentsayshi {
    background: #fff;
    border-radius: 15px;
    max-width: 1024px;
    width: 100%;
    font-size: var(--font-small);
    padding: 20px;
    box-sizing: border-box;
}

#presidentsayshi > h2{
    font-weight: bold;
    text-align: left;
    font-size: 24px;
    width: fit-content;
    margin-bottom: 10px;
    padding-bottom: 5px;
    padding-right: 30px;
    border-bottom: 1px solid #aaa;
}

#presidentsayshi > p{
    text-align: left;
    word-break: keep-all;
    font-size: 18px;
}

@media (max-width: 1024px) {
    #presidentsayshi {width: 100%; margin: 0}
}