@charset "utf-8";

.rbc-toolbar{
    margin-bottom: 0px;
    justify-content: space-between;
    align-items:end;
}

.rbc-btn-group > button{
    border-bottom: 0px;
    border-radius: 5px 5px 0 0;
}

.rbc-toolbar .rbc-toolbar-label{
    flex-grow: unset;
    background: #4084dd;
    color: #fff;
    font-weight: bold;
    border-radius: 10px 10px 0 0;
}

.rbc-toolbar-label{
    width: fit-content;
}

.rbc-selected-cell{
    box-sizing: border-box;
    border: 3px solid #4084dd;
    border-left: none;
    border-right: none;
}

.rbc-month-view{
    cursor: pointer;
    border-radius: 0 0 10px 10px;
}
.rbc-day-bg{
    box-sizing: border-box;
}
.rbc-day-bg:hover{
    border: 1px solid #4084dd;
}
.rbc-day-bg.rbc-today{
    position: relative;
    border: 1px solid #4084dd;
    box-sizing: border-box;
}

.zeroDay{
    position: relative;
    background: rgba(255, 0, 0,.1);
}
.sixDay{
    position: relative;
    background: rgba(0, 0, 255,.1);
}

.rbc-event, .rbc-day-slot .rbc-background-event{
    background: #4084dd;
    line-height: normal;
    text-align: center;
}

.rbc-ellipsis, .rbc-show-more, .rbc-row-segment .rbc-event-content, .rbc-event-label{
    font-size: 15px;
    font-weight: bold;
    line-height: normal;
}
.rbc-toolbar.agenda{
    justify-content: center;
    margin-bottom: 10px;
}
.rbc-toolbar.agenda > span{
    display: inline-block;
    width: 100%;
    background: #4084dd;
    color: #fff;
    font-weight: bold;
    border-radius: 10px;
}

/* aside calendar css */

.rbc-agenda-view{
    flex: none;
    flex-direction: row;
    height: 80%;
    align-items: center;
}
.rbc-agenda-view > .rbc-agenda-table {
    display: none;
}
.rbc-agenda-content{
    width: 100%;
}
.rbc-agenda-content > table{
    border-spacing: 10px !important;
    border-collapse: unset !important;
    border-radius: 10px !important;
}
.rbc-agenda-content > table > tbody {
    display: flex;
    flex-direction: column;
}
.rbc-agenda-content > table > tbody > tr{
    width: 100%;
    height: fit-content;
    padding: 5px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.rbc-agenda-content > table > tbody > tr > td{
    width: fit-content;
    height: fit-content;    
}
.rbc-agenda-view table.rbc-agenda-table tbody>tr>td+td{
    border-left: none;
}
.rbc-agenda-event-cell{
    width: fit-content;
}
.rbc-agenda-view table.rbc-agenda-table tbody>tr>td{
    padding: 0;
}
.rbc-agenda-empty{
    color: transparent;
    background: transparent;
    position: relative;
}
.rbc-agenda-empty::after{
    content: '다가올 일정이 없습니다.';
    display: block;
    font-size: 18px;
    color: #777;
    font-weight: bold;
    position: absolute;
    top: 0;
    left: 10px;
    word-break: keep-all;
}
@media (max-width: 768px) {
    .rbc-toolbar {
        flex-direction: row;
    }
    .rbc-agenda-view{
        height: auto !important;
    }
}